language: python
python:
  - '3.3'

sudo: false
install: true

jdk:
  - oraclejdk8
  
#addons:
# sonarqube: true
  
env:
  global:
  - secure: 1dsvLopQ6y/+EwsLyj3zF978RED1Nw1wzRuTJBUHQj576US6OyYOBt/R7xls/EE5lyuVaNEcsN1OcDNuE1THJIQiXSqn2byYgjlPkfVsWf8Dif8JsjZigtGpW3i7FL5l6YNOw4dgMide/9Qhny6pEcuwNpLhLDBWISAfYX2DfArfEAKZROp3roiDG1sf6GZX98BMH1MTvQU8+OkPoudxNZJZxF+XO3Anjd0kLFuwiSn4B56iwnAdiNn3P1j/S5clNSBpo37npr9C76ZDV0cYugxD+apQrm/rkfrRaQ7uByRGHwUrYdgnuI80WVLpj1AoxnoE7AdZo3dgZifhnrD/y9R2UOHzGK1tvLVnK+EvDVsTTmUry8gVgpANAVpQBmio6W9cHNmMcMD19oWGm2cpcf8WRz3dXZ73g5eUoSf4IcSTM3rGdNyVH9sEA25AwUU1KVdJLWmPRUOO5VQfrY1kMfFpSUsjcB25Mvyz3b3Runh14S0dJtDQTZ/KxxhD7toQ1ENrC+/PH/S3ELQxj5sNtpuN8rGdPa6WFCOYUWQK5oFUTz5jhxk1SMbRNWMwnAx+u1DThkAABfY3WlewtehDP/vKlaIfSif/vhFFtNRP0fPSxmJS4H022Xg2fXcV2shKoNz47xU6T8rHGUaHesRO6A7ZnWQ4OwNQ+qN6kPK7H+0=
  
branches:
  only:
  - master
  - desenvolvimento

install:
  - pip install -r requirements.txt

script:
  - cd wsgi/myproject
  - python manage.py behave
  - cd ..
  - cd..
  - ./runSonarQubeAnalysis.sh
#  - sonar-scanner -Dsonar.login=$SONAR_TOKEN 
  
cache:
  directories:
    - '$HOME/.sonar/cache'

deploy:
  provider: openshift
  user: paulossjunior@gmail.com
  password:
    secure: 1HM8jbE0223srglawzCMMJd2666ACV9nR5qOheRtmny8qQk1sw18Lh5Q6o+FHsGE1HcbP8FyJ4z+TXmQVRjU5vC9Jn2y3LcHQEIjvbuLxKobDPgokCXGNZiCBoCjBzZeXlLStIVLo4g4UvoIbLvVWpkyWImtdQaMtmg26povTLXSFS1v+IP/0Cvj+/wRz3he6Li4dd2d8OlKBgvt5UmNuo5loGtmkHqvqU+wdMJjCSXdzNkJFsLaBlra1iHgD2g/kIG4+pCWFA+WEgt8JLNuru6H5JEeoApA9HO8Oda332w5N55Yx1QSpM+EIzjnjooCfksiUgyrz90WttlF3i36fTwNt/P3SRVEXviFqui6/j7Sn8og1uMzHCpuN9jxl0MBeEi07rlukDqY5/AgXDrhoSaBRnZCWdgDyglS6B555CuUg4wlYyBIQgMAFrztWJ80+WE/6V48cgVmOE/99CUItnwkqYepwcyA+avadwz2QYcfOcevdWEuehQnqmWMQIamSfh47wlaip0WG6hrefKPNMT07z4j+xvBYdZaW4JHQmkblhS//QYmBzAd/wq9L+7eH50P4AE6wAa67aUXeakP+5CSFvb+STuFkqDqXJXu9nB6gJmQIgxIiM0Sa2wg4GoV77WKEbrn2vOqhfJCyFwcwP7ci0lJy/9W1GV0oQgtMnQ=
  app: ledszeppellin
  domain: paulossjunior
  on:
    repo: leds/ledszeppellin
    all_branches: true


notifications:
  slack: leds:ecBlZedCK8tpP1X5uygKMS8q
